<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Routes>
  <Route>
    <id>26137</id>
    <name>77</name>
    <creationDate>05/06/2024 15:53:59</creationDate>
    <coordinates>7.0 7.0</coordinates>
    <from>7 7.0 7 7</from>
    <to>7 7.0 7.0 7.0</to>
    <distance>7.0</distance>
  </Route>
</Routes>
