<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Routes>
  <Route>
    <id>28344</id>
    <name>66</name>
    <creationDate>05/06/2024 17:41:55</creationDate>
    <coordinates>6.0 6.0</coordinates>
    <from>6.0 6.0 6 6</from>
    <to>6.0 6.0 6.0 6.0</to>
    <distance>6.0</distance>
  </Route>
  <Route>
    <id>91523</id>
    <name>7</name>
    <creationDate>05/06/2024 17:42:17</creationDate>
    <coordinates>7.0 77.0</coordinates>
    <from>7.0 7.0 7 7</from>
    <to>7.0 7.0 7.0 7.0</to>
    <distance>7.0</distance>
  </Route>
  <Route>
    <id>33024</id>
    <name>8</name>
    <creationDate>05/06/2024 17:42:23</creationDate>
    <coordinates>8.0 8.0</coordinates>
    <from>8.0 8.0 8 8</from>
    <to>88.0 8.0 8.0 8.0</to>
    <distance>8.0</distance>
  </Route>
  <Route>
    <id>78632</id>
    <name>77</name>
    <creationDate>05/06/2024 17:43:02</creationDate>
    <coordinates>7.0 7.0</coordinates>
    <from>7.0 7.0 7 7</from>
    <to>aa 7.0 7.0 7.0</to>
    <distance>8.0</distance>
  </Route>
  <Route>
    <id>32989</id>
    <name>8</name>
    <creationDate>05/06/2024 17:43:23</creationDate>
    <coordinates>8.0 8.0</coordinates>
    <from>88.0 8.0 8 8</from>
    <to>8.0 8.0 8.0 8.0</to>
    <distance>45.0</distance>
  </Route>
  <Route>
    <id>11646</id>
    <name>*</name>
    <creationDate>05/06/2024 17:44:20</creationDate>
    <coordinates>9.0 9.0</coordinates>
    <from>99.0 9.0 9 9</from>
    <to>9.0 9.0 9.0 9.0</to>
    <distance>9.0</distance>
  </Route>
  <Route>
    <id>53240</id>
    <name>8</name>
    <creationDate>05/06/2024 17:44:32</creationDate>
    <coordinates>88.0 5.0</coordinates>
    <from>3.0 3.0 3 3</from>
    <to>3.0 3.0 3.0 3.0</to>
    <distance>3.0</distance>
  </Route>
</Routes>
